*.a
*.o
.deps
.dirstamp
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
dump-eeprom
INSTALL
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
missing
ouvrtd
